@media (max-width: 1180px) {
  .base_categories {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .base_categories_4 {
    margin-top: 20px;
  }
  .footer_logo {
    max-width: 300px;
  }
}
@media (max-width: 1120px) {
  .footer_logo {
    max-width: 300px;
  }
}
@media (max-width: 1024px) {
  .header_main_img {
    top: 35%;
  }
  .header_main_img img {
    width: 600px;
  }
  .features_container {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }
  .features_softwair,
  .features_organize,
  .features_collaborate {
    box-shadow: 5px 10px 10px 5px #00000040;
  }
  .features_organize {
    margin-top: 20px;
  }
  .hotspots_container {
    padding-top: 0;
  }
  .promo {
    max-width: 400px;
  }
  .promo_photo img {
    width: 90%;
    height: 90%;
  }
  .cta_form {
    text-align: center;
  }
  .footer_product,
  .footer_company {
    margin-top: 0;
  }
  .footer_top {
    margin: 20px 0;
  }
}
@media (max-width: 920px) {
  .button_toggle {
    display: inline-block;
  }
  .header_menu a {
    display: none;
  }
  #button_toggle:checked ~ a {
    display: inline-flex;
  }
  .header_menu a {
    margin-left: 20px;
  }
  .header_menu__logo img {
    width: 250px;
    height: 50px;
  }
  .footer_product,
  .footer_company {
    margin-left: 50px;
  }
}
@media (max-width: 800px) {
  .header_menu .button {
    display: none;
  }
  .header_main_text {
    margin-top: 45px;
  }
  .header_main_text h1 {
    font-size: 70px;
  }
  .header_main_img {
    display: none;
  }
  .button_toggle::before {
    font-size: 22px;
  }
  .base_categories_3 {
    margin-top: 20px;
  }
  .promo_photo {
    padding-top: 30px;
  }
  .promo_photo img {
    width: 80%;
    height: 80%;
  }
  .hotspots_container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .cta_form {
    padding-top: 50px;
    padding-left: 75px;
  }
  .cta_form .button {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .features_container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .features_softwair {
    margin-right: 0;
  }
  .features_organize {
    margin-left: 0;
    margin-top: 20px;
  }
  .features_collaborate {
    width: 300px;
  }
  .header_main_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header_main_text h1 {
    text-align: center;
  }

  .footer_top {
    grid-template-columns: auto;
    align-items: center;
  }
  .footer_company {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 425px) {
  .header_container {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .header_menu__logo {
    margin-bottom: 20px;
  }
  .header_menu {
    margin-left: 0;
  }
  .header_menu__logo img {
    width: 310px;
    height: 60px;
  }
  .header_main_text h1 {
    font-size: 50px;
    line-height: normal;
  }
  .hotspots_container {
    margin-top: 35px;
  }
  .base_categories_2 {
    margin-top: 20px;
  }
  .promo_photo img {
    display: block;
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  .promo {
    text-align: center;
  }
  .cta_container {
    flex-wrap: wrap;
  }
  .cta_form {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    text-align: center;
  }
  .footer_logo {
    max-width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  .footer_logo img {
    width: 80%;
  }
  .footer_logo img:not(:first-child) {
    width: 50%;
  }
  .footer_logo img:nth-child(4) {
    margin-right: 3px;
    margin-top: 20px;
  }
  .footer_product {
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  .button_toggle {
    display: none;
  }
  .header_menu a {
    display: inline-block;
  }
  .base_text h1 {
    font-size: 30px;
  }
  .cta_text img {
    width: 100%;
  }
  .container_bottom {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }
  .but {
    text-align: center;
  }
  .header_menu__logo {
    display: none;
  }
  .header_main_text .button {
    margin-top: 30px;
  }
}
