* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arvo", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}
.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 24px;
}
.header {
  background-color: #f9d9eb;
  min-height: 670px;
}
.header_container {
  padding-top: 40px;
  display: flex;
}
.header_menu {
  margin-left: auto;
}
.button_toggle {
  position: relative;
  display: none;
  border: 0;
  background: none;
}
.button_toggle::before {
  content: "Menu";
  color: #2b292d;
  font-size: 16px;
  font-weight: 600;
}
.button_toggle label {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
#button_toggle {
  display: none;
}
.header_menu a {
  text-decoration: none;
  color: #2b292d;
  font-size: 16px;
  padding-top: 7px;
  margin-left: 45px;
}
.header_menu a:nth-child(6) {
  margin-left: 0;
}
.header_menu .button,
.header_main_text .button,
.promo .button,
.cta_form .button {
  background: linear-gradient(
    rgb(220, 20, 60),
    rgb(144, 8, 44),
    rgb(80, 19, 16),
    rgb(134, 33, 53),
    rgb(220, 20, 90)
  );
  background-position: 0 0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  margin-left: 30px;
  border: 0;
  cursor: pointer;
  animation: background 4s ease-in-out infinite alternate;
}
@keyframes background {
  100% {
    background-position: 2px 200px;
  }
}
.button:hover {
  box-shadow: 0 0 10px rgb(16, 1, 3), 10px 5px 15px black;
  animation-play-state: paused;
}
.header {
  position: relative;
}
.header_main_img {
  position: absolute;
  right: 5%;
  top: 20%;
}
.header_main_text {
  position: absolute;
  z-index: 1;
  margin-top: 75px;
}
.header_main_text h1 {
  display: inline-block;
  letter-spacing: 2px;
  line-height: 80px;
  font-size: 80px;
  text-align: left;
  vertical-align: top;
  max-width: 750px;
}
.header_main_text p {
  margin-top: 35px;
  text-align: left;
  vertical-align: top;
  max-width: 455px;
}
.header_main_text .button {
  margin-left: 0;
  margin-top: 60px;
}
.header_main_text .button1 {
  color: #fff;
}
.features_softwair,
.features_organize {
  max-width: 295px;
  min-height: 355px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.features_softwair a {
  display: block;
  margin-top: 33px;
}
.features_softwair p,
.features_organize p {
  padding-bottom: 10px;
}

.features_organize a {
  display: block;
  margin-top: 58px;
}
.features_collaborate {
  max-width: 345px;
  min-height: 415px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.features_collaborate img {
  margin-top: 37px;
}
.features_collaborate p {
  margin-top: 39px;
}
.features_collaborate a {
  display: block;
  padding-top: 35px;
}
.features_container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  padding: 50px 0;
  text-align: center;
  vertical-align: top;
  line-height: 30px;
}
.features_container a {
  font-size: 18px;
  font-weight: bold;
  color: #3040c4;
}
.features_container p {
  margin-top: 35px;
}
.base {
  background-color: #e4f5f9;
}
.base_container1 {
  max-width: 1280px;
  padding-top: 60px;
}
.base_container {
  display: flex;
  justify-content: center;
}
.base_text {
  max-width: 555px;
  text-align: center;
}
.base_categories {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 40px;
}
.size {
  width: 262px;
  height: 300px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
}
.size img {
  margin-top: 22px;
  margin-bottom: 22px;
}
.size p {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.base_text h5 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 25px;
}
.base_text h1 {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 30px;
}
.base_text p {
  line-height: 34px;
}
.base_categories a {
  text-decoration: none;
  color: #2b292d;
}
.base_categories img {
  transition: 1s;
}
.base_categories a:hover img {
  transform: scale(1.6) rotate(-25deg);
}
.hotspots_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 50px 0;
}
.promo {
  margin-top: 50px;
  max-width: 460px;
}
.promo h6 {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #807f81;
  vertical-align: top;
}
.promo h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  max-width: 462px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.promo p {
  line-height: 34px;
  vertical-align: top;
  margin-bottom: 40px;
}
.promo_photo img {
  max-width: 425px;
  max-height: 420px;
}
.promo .button {
  margin-left: 0;
}
.cta {
  background-color: #f4f5f7;
}
.cta_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cta_text {
  padding: 50px 0;
}
.cta_form {
  max-width: 670px;
}
.cta_form h2 {
  font-size: 40px;
  line-height: 40px;
  vertical-align: top;
  letter-spacing: -0.25px;
  margin-bottom: 12px;
}
.cta_form p {
  font-size: 22px;
  line-height: 32px;
  vertical-align: top;
  margin-bottom: 26px;
}
.cta_form input {
  padding: 8px;
  max-width: 385px;
  font-size: 18px;
  border: 1px solid #2b292d33;
}
.cta_form .button {
  margin-left: 10px;
}
.cta_form span {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  vertical-align: top;
  color: #2b292d99;
  margin-top: 10px;
}
.footer_top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 30px 0;
}
.footer_logo {
  max-width: 360px;
}
.footer_logo p {
  margin-top: 26px;
  font-size: 18px;
  line-height: 26px;
  vertical-align: top;
  color: #2b292d99;
  margin-bottom: 25px;
}
.footer_product,
.footer_company {
  max-width: 212px;
}
.footer_product h3,
.footer_company h3 {
  font-size: 22px;
  line-height: 28px;
}
.footer_product .span,
.footer_company .span1 {
  max-height: 185px;
  margin-top: 18px;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
}
.footer_product .span p,
.footer_company .span1 p {
  line-height: 38px;
}
.container_top {
  border-bottom: 1px solid #2b292d33;
}
.container_bottom {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr auto;
}
.bottom_left p {
  font-size: 14px;
  line-height: 22px;
  vertical-align: top;
  color: #2b292d99;
}
.bottom_right :not(:last-child) {
  padding-right: 20px;
}
